{{define "run_backtest_form"}}
<p class="note">
  {{t "webui.strategy_detail.run_backtest.note"}}
</p>
<form class="inline" method="post" action="/strategies/{{.Strategy.ID}}/run-backtest">
  <div>
    <label for="rb_lookback">{{t "webui.strategy_detail.run_backtest.lookback_label"}}</label>
    <input id="rb_lookback" name="lookback" type="number" min="50" max="5000" placeholder="{{t `webui.strategy_detail.run_backtest.lookback_placeholder`}}">
  </div>
  <button type="submit">{{t "webui.strategy_detail.run_backtest.heading"}}</button>
</form>
{{end}}
